{extend name="$lake_admin_layout"/}

{block name="main"}
<style type="text/css">
.lake-admin-container {
    background-color: #FFF;
}
.childrenBody {
    background: #fff;
}
.layui-layer-page .layui-layer-content {
    overflow: inherit;
}
</style>
<div class="layui-form">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form search-from" method="get">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="laydate" placeholder="搜索时间范围">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="keyword" class="layui-input searchVal" placeholder="请输入标题关键词">
                    </div>
                    <a class="layui-btn search_btn" data-type="reload">搜索</a>
                </div>
            </form>
        </blockquote>
    <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <a class="layui-btn layui-btn-sm" href="{:url('add',['cateid'=>$cateid])}">新增内容</a>
      <a class="layui-btn layui-btn-sm layui-btn-danger confirm layui-batch-all" data-href='{:url("delete",["cateid"=>$cateid])}'>批量删除</a>
      <a href="javascript:location.reload();" class="layui-btn layui-btn-sm layui-btn-green layui-batch-reload" title="刷新">刷新</a>
    </div>
</script>

<script type="text/html" id="barTool">
    <a href='{:url("edit")}?cateid={$cateid}&id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>
    <a href='{:url("delete")}?cateid={$cateid}&ids={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
</script>

<script type="text/html" id="title">
  {{ d.title }}
</script>

<script type="text/html" id="addTimeTpl">
    {{ layui.util.toDateString(d.add_time * 1000) }}
</script>

<script type="text/html" id="urlTpl">
    <div>
        <a href="{{ d.url }}" target="_blank">
            <i class="iconfont icon-lianjie"></i>
        </a>
    </div>
</script>

<script type="text/html" id="statusTpl">
    <div>
        {{#  if(d.status){ }} 
            <button class="layui-btn layui-btn layui-btn-xs">正常</button> 
        {{#  } else { }} 
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-xs">待审核</button> 
        {{#  } }} 
    </div>
</script>

<script type="text/html" id="flagTpl">
  {{# if(d.flag.indexOf("1")!==-1){ }}
  <span class="layui-badge layui-bg-green">置顶</span>
  {{#  } }}
  {{# if(d.flag.indexOf("2")!==-1){ }}
  <span class="layui-badge layui-bg-cyan">头条</span>
  {{#  } }}
  {{# if(d.flag.indexOf("3")!==-1){ }}
  <span class="layui-badge layui-bg-orange">特荐</span>
  {{#  } }}
  {{# if(d.flag.indexOf("4")!==-1){ }}
  <span class="layui-badge layui-bg-blue">推荐</span>
  {{#  } }}
  {{# if(d.flag.indexOf("5")!==-1){ }}
  <span class="layui-badge">热点</span>
  {{#  } }}
  {{# if(d.flag.indexOf("6")!==-1){ }}
  <span class="layui-badge layui-bg-black">幻灯</span>
  {{#  } }}
</script>

{/block}

{block name="script"}
<script>
layui.use(['table', 'laydate'], function() {
    var table = layui.table,
        $ = layui.$,
        form = layui.form,
        laydate = layui.laydate;
    laydate.render({
        elem: '#laydate',
        range: true,
    });
    table.render({
        elem: '#dataTable',
        toolbar: '#toolbarDemo',
        url: '{:url("cate",["cateid"=>$cateid])}',
        cols: [
            [
                { type: 'checkbox', fixed: 'left' },
                { field: 'id', width: 60, title: '#', align: "center" },
                { field: 'title', title: '标题', templet: '#title'},
                { field: 'views', width: 80, align: "center", title: '点击量' },
                { field: 'add_time', width: 160, title: '更新时间', templet: '#addTimeTpl' },
                { field: 'url',width: 60,align:"center", title: 'URL', templet:'#urlTpl'},
                { field: 'sort', width: 70, title: '排序', edit: 'text' },
                { field: 'status', width: 60, align: "center", title: '状态', templet: '#statusTpl'},
                { fixed: 'right', width: 120, title: '操作', toolbar: '#barTool' }
            ]
        ],
        page: {}
    });

    $(".search_btn").on("click", function() {
        table.reload("dataTable", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                search_field: 'title',
                keyword: $(".searchVal").val(),
                filter_time: 'inputtime',
                filter_time_range: $("#laydate").val()
            }
        })
    });

    // 监听单元格编辑
    table.on('edit(dataTable)', function(obj) {
        var value = obj.value,data = obj.data;
        $.post('{:url("sort",["cateid" => $cateid])}', {
            'id': data.id,
            'value':value 
        }, function(data) {
            if (data.code == 1) {
                layer.msg(data.msg);
            }else{
                layer.msg(data.msg);
            }

        })
    });

});
</script>
{/block}