<div class="footer">
    <div class="main">
        <div class="footL">
            <img src="images/11.jpg" />
        </div>
        
        <div class="footR">
            联系QQ：{setting name="web_site_qq" default="" /}<br />
            手机号码：{setting name="web_site_telphone" default="" /}<br />
            联系邮箱：{setting name="web_site_email" default="" /}<br />
            联系电话：{setting name="web_site_phone" default="" /}<br />
            联系地址：{setting name="web_site_address" default="" /}
        </div>
        <div class="clear"></div>
        <div class="footbox">
            <div class="con">
                Copyright©{:date('Y')} 
                <a href="{:url('lakecms/index/index')}">{setting name="web_site_company" default="" /}</a> 
            </div>
        </div>
    </div>
</div>
