<div class="header">
  <a href="index.html"><img src="images/logo.jpg" /></a>
</div>
<div class="clear"></div>
<div class="nav">
  <div class="main">
    <ul>
      <li><a href="index.html">首页</a></li>
      <li><a href="about.html">关于我们</a></li>
      <li><a href="product.html">产品中心</a></li>
      <li><a href="list.html">公司动态</a></li>
      <li><a href="case.html">精品案例</a></li>
      <li><a href="list.html">行业动态</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
