<div class="header">
    <a href="index.html"><img src="images/logo.jpg" /></a>
</div>
<div class="clear"></div>

<div class="nav">
    <div class="main">
        <ul>
            <li>
                <a href="{:url('lakecms/index/index')}">
                    首页
                </a>
            </li>
            
            {navbars order="sort ASC" tree="0" return="data"}
                <li>
                    <a href="{$data.url}" target="{$data.target}">
                        {$data.title}
                    </a>
                </li>
            {/navbars}
        </ul>
    </div>
</div>
<div class="clear"></div>
