<div class="mainL">
    <div class="titbox">
        <p class="ccsl">产品中心</p>
    </div>
     
    <ul> 
        {cates field="id,parentid,name,title,sort" limit="6" order="sort ASC" condition="parentid=10" return="data"}
            <li>
                <a href="{:url('lakecms/cate/index', ['catename' => $data['name']])}" target="_self" class="ccsl">
                    {$data.title}
                </a>
            </li>
        {/cates}
    </ul>
    
    <div class="titbox">
        <p class="ccsl">联系我们</p>
    </div>
    
    <div class="lxwmcon">
        <div class="con">
            客服热线：{setting name="web_site_phone" default="" /}
            <br />
            邮箱：{setting name="web_site_email" default="" /}
        </div>
    </div>
    
    <div class="lxwm">
        <div class="tel1">全国服务热线：</div>
        <div class="tel2">{setting name="web_site_phone" default="" /} </div>
    </div>
</div>