<div class="mainL">
<div class="titbox">
  <p class="ccsl">产品中心</p>
</div>
<ul>
  <li><a href="product.html" class="ccsl">浴室镜系列</a></li>
  <li><a href="product.html" class="ccsl">洗衣机系列</a></li>
  <li><a href="product.html" class="ccsl">空调系列</a></li>
  <li><a href="product.html" class="ccsl">冰箱系列</a></li>
  <li><a href="product.html" class="ccsl">推拉门系列</a></li>
  <li><a href="product.html" class="ccsl">防盗门系列</a></li>
</ul>
<div class="titbox">
  <p class="ccsl">联系我们</p>
</div>
<div class="lxwmcon">
  <div class="con">客服热线：000-000-0000<br />邮箱：123*****@qq.com</div>
</div>
<div class="lxwm">
  <div class="tel1">全国服务热线：</div>
  <div class="tel2">000-000-0000 </div>
</div>
</div>