导航：
{navbars order="sort ASC" tree="tree" return="data"}
    <a href="{:url($data['url'] ?? '')}" target="{$data.target}">
        <div class="nav-item">
            {$data.title}
        </div>
    </a>
    
    {if isset($data['child'])}
        {volist name="$data['child']" id="vo"}
            <a href="{:url($vo['url'] ?? '')}" target="{$vo.target}">
                <div class="nav-item">
                    --{$vo.title}
                </div>
            </a>
        {/volist}
    {/if}
{/navbars}

<hr />

分类：
{cates field="id,parentid,name,title,cover,template_list" limit="15" order="sort ASC" tree="tree" return="data"}
    <a href="{:url('lakecms/cate/index', ['catename' => $data['name']])}" target="_blank">
        <div class="cate-item">
            {$data.title}
        </div>
    </a>
    
    {if isset($data['child'])}
        {volist name="$data['child']" id="vo"}
            <a href="{:url('lakecms/cate/index', ['catename' => $vo['name']])}" target="_blank">
                <div class="cate-item">
                    --{$vo.title}
                </div>
            </a>
        {/volist}
    {/if}
{/cates}

<hr />

标签：
<a href="{:url('lakecms/tag/index')}" target="_blank">
    标签列表
</a>

<br />

{tags field="id,name,title,views" limit="15" order="views DESC" return="data"}
    <a href="{:url('lakecms/tag/detail', ['title' => $data['title']])}" target="_blank">
        <div class="tag-item tag-{$data.name}">
            {$data.title}
        </div>
    </a>
{/tags}

<hr />

模型数据：
{modelcontents table="news" field="id,categoryid,title,views" limit="15" order="views DESC" return="data"}
    <a href="{:url('lakecms/content/index', ['cateid' => $data['categoryid'], 'id' => $data['id']])}" target="_blank">
        <div class="tag-item">
            {$data.title}
        </div>
    </a>
{/modelcontents}

<hr />

搜索: 
<a href="{:url('lakecms/search/index', ['cateid' => 6, 'keywords' => 'keywords'])}" target="_blank">搜索</a>

<hr />

公司名称: 
{setting name="web_site_company" default="" /}
<br />
公司地址: 
{setting name="web_site_address" default="" /}
<br />
公司电话:  
{setting name="web_site_telphone" default="" /}
