{extend name="common/base"/}

{block name="content"}

<div class="clear"></div>
<div class="mainWarp">

    {include file="common/product_list" /}
  
  <div class="mainR">
    <ul class="piclistul">
    
        {volist name="$list" id="data"}
        <li>
            <a href="{:lakecms_content_url($data['cate']['name'], $data['id'])}">
                <img src="{$data.cover}" />
                <p class="ccsl">{$data.title}</p>
            </a>
        </li>
        {/volist}

    </ul> 
    
    {if !empty($page)}
    <div class="clear"></div>
    <div class="pagebox">
        {php}
        $url = url('lakecms/cate/index', ['catename' => $cate['name'], 'page' => '[PAGE]']);
        {/php}
        {pager url="$url" page="$page" total="$total"/}
    </div>
    {/if} 
    
  </div>
  <div class="clear"></div>
</div>

{/block}