{extend name="common/base"/}

{block name="content"}
<div class="clear"></div>
<div class="mainWarp">

    {include file="common/product_list" /}

  <div class="mainR">
    <ul class="piclistul">
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
      <li>
        <a href="product_xq.html">
        <img src="images/1.jpg" />
        <p class="ccsl">浴室镜系列</p>
        </a>
      </li>
    </ul> 
    <div class="clear"></div>
    <div class="pagebox">
        <a href="">上一页</a>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">下一页</a>
    </div>      
  </div>
  <div class="clear"></div>
</div>
{/block}