{extend name="common/base"/}

{block name="content"}

<div class="clear"></div>
<div class="mainWarp">

    {include file="common/product_list" /}
  
  <div class="mainR">
    <ul class="listul">
      <li>
        <div class="liL">
          <div class="day">13</div>
          <div class="year">2018/03</div>
        </div>
        <div class="liR">
          <a href="detail.html" class="ccsl">如何清除洗衣机里面的杂物?</a>
          <div class="sub">首先，将洗衣机排水管拿下放在一个空水桶上（要有一定高度），关闭进水阀门和前门。第二，将3水壶的水用除垢剂（市场有售）倒在一个空容器中，按除垢剂/水＝l/2的比例配制并搅拌均匀。第三，打开"洗涤剂添加盒"，把混合好的除垢剂溶液从洗涤剂添加盒倒入，注意不要溅到皮肤上。
第四，按下洗衣机电源开关，将程序设定至"洗衣程序"（时间选择最长），使洗衣筒旋转；待除垢液从排水管排到桶里后，再将排出的除垢液从洗涤剂添加盒加入，如此反复多次，直至程序运行完毕，打开过滤器清...</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="liL">
          <div class="day">13</div>
          <div class="year">2018/03</div>
        </div>
        <div class="liR">
          <a href="detail.html" class="ccsl">如何清除洗衣机里面的杂物?</a>
          <div class="sub">首先，将洗衣机排水管拿下放在一个空水桶上（要有一定高度），关闭进水阀门和前门。第二，将3水壶的水用除垢剂（市场有售）倒在一个空容器中，按除垢剂/水＝l/2的比例配制并搅拌均匀。第三，打开"洗涤剂添加盒"，把混合好的除垢剂溶液从洗涤剂添加盒倒入，注意不要溅到皮肤上。
第四，按下洗衣机电源开关，将程序设定至"洗衣程序"（时间选择最长），使洗衣筒旋转；待除垢液从排水管排到桶里后，再将排出的除垢液从洗涤剂添加盒加入，如此反复多次，直至程序运行完毕，打开过滤器清...</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="liL">
          <div class="day">13</div>
          <div class="year">2018/03</div>
        </div>
        <div class="liR">
          <a href="detail.html" class="ccsl">如何清除洗衣机里面的杂物?</a>
          <div class="sub">首先，将洗衣机排水管拿下放在一个空水桶上（要有一定高度），关闭进水阀门和前门。第二，将3水壶的水用除垢剂（市场有售）倒在一个空容器中，按除垢剂/水＝l/2的比例配制并搅拌均匀。第三，打开"洗涤剂添加盒"，把混合好的除垢剂溶液从洗涤剂添加盒倒入，注意不要溅到皮肤上。
第四，按下洗衣机电源开关，将程序设定至"洗衣程序"（时间选择最长），使洗衣筒旋转；待除垢液从排水管排到桶里后，再将排出的除垢液从洗涤剂添加盒加入，如此反复多次，直至程序运行完毕，打开过滤器清...</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="liL">
          <div class="day">13</div>
          <div class="year">2018/03</div>
        </div>
        <div class="liR">
          <a href="detail.html" class="ccsl">如何清除洗衣机里面的杂物?</a>
          <div class="sub">首先，将洗衣机排水管拿下放在一个空水桶上（要有一定高度），关闭进水阀门和前门。第二，将3水壶的水用除垢剂（市场有售）倒在一个空容器中，按除垢剂/水＝l/2的比例配制并搅拌均匀。第三，打开"洗涤剂添加盒"，把混合好的除垢剂溶液从洗涤剂添加盒倒入，注意不要溅到皮肤上。
第四，按下洗衣机电源开关，将程序设定至"洗衣程序"（时间选择最长），使洗衣筒旋转；待除垢液从排水管排到桶里后，再将排出的除垢液从洗涤剂添加盒加入，如此反复多次，直至程序运行完毕，打开过滤器清...</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="liL">
          <div class="day">13</div>
          <div class="year">2018/03</div>
        </div>
        <div class="liR">
          <a href="detail.html" class="ccsl">如何清除洗衣机里面的杂物?</a>
          <div class="sub">首先，将洗衣机排水管拿下放在一个空水桶上（要有一定高度），关闭进水阀门和前门。第二，将3水壶的水用除垢剂（市场有售）倒在一个空容器中，按除垢剂/水＝l/2的比例配制并搅拌均匀。第三，打开"洗涤剂添加盒"，把混合好的除垢剂溶液从洗涤剂添加盒倒入，注意不要溅到皮肤上。
第四，按下洗衣机电源开关，将程序设定至"洗衣程序"（时间选择最长），使洗衣筒旋转；待除垢液从排水管排到桶里后，再将排出的除垢液从洗涤剂添加盒加入，如此反复多次，直至程序运行完毕，打开过滤器清...</div>
        </div>
        <div class="clear"></div>
      </li>
    </ul> 
    <div class="clear"></div>
    <div class="pagebox">
        <a href="">上一页</a>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">下一页</a>
    </div>      
  </div>
  <div class="clear"></div>
</div>
{/block}