{extend name="common/base"/}

{block name="content"}

<div class="clear"></div>
<div class="mainWarp">

    {include file="common/product_list" /}
  
  <div class="mainR">
    <ul class="listul">
    
      {volist name="$list" id="data"}
      <li>
        <div class="liL">
          <div class="day">{:date('d', $data['add_time'])}</div>
          <div class="year">{:date('Y/m', $data['add_time'])}</div>
        </div>
        <div class="liR">
          <a href="{:url('lakecms/content/index', ['catename' => $cate['name'], 'id' => $data['id']])}" class="ccsl">{$data.title}</a>
          <div class="sub">{:lake_str_cut($data['description'], 650)}</div>
        </div>
        <div class="clear"></div>
      </li>
      {/volist}
      
    </ul> 
    
    {if !empty($page)}
    <div class="clear"></div>
    <div class="pagebox">
        {php}
        $url = url('lakecms/cate/index', ['catename' => $cate['name'], 'page' => '[PAGE]']);
        $url = urldecode($url);
        {/php}
        {pager url="$url" page="$page" total="$total"/}
    </div>
    {/if} 
    
  </div>
  <div class="clear"></div>
</div>
{/block}