{extend name="base"/}

{block name="content"}
<div class="aboutbox">
  <div class="xq">
    <div class="tit">公司简介</div>
    <div class="sub"><span class="span1"></span><span class="span2">Company profile</span><span class="span1"></span></div>
    <div class="con">
       <p style="text-indent:2em">新材料是指新近发展或正在发展的具有优异性能的结构材料和有特殊性质的功能材料。结构材料主要是利用它们的强度、韧性、硬度、弹性等机械性能。如新型陶瓷材料，非晶态合金 (金属玻璃) 等。功能材料主要是利用其所具有的电、光、声、磁、热等功能和物理效应。近几年，世界上研究、发展的新材料主要有新金属材料，精细陶瓷和光纤等等。</p>
       <p style="text-indent:2em">随着科学技术发展，人们在传统材料的基础上，根据现代科技的研究成果，开发出新材料。新材料按组分为金属材料、无机非金属材料(如陶瓷、砷化镓半导体等)、有机高分子材料、先进复合材料四大类。按材料性能分为结构材料和功能材料。结构材料主要是利用材料的力学和理化性能，以满足高强度、高刚度、高硬度、耐高温、耐磨、耐蚀、抗辐照等性能要求;功能材料主要是利用材料具有的电、磁、声、光热等效应， 以实现某种功能，如半导体材料、磁性材料、光敏材料、热敏材料、隐身材料和制造原子弹、氢弹的核材料等。新材料在国防建设上作用重大。例如，超纯硅、砷化镓研制成功，导致大规模和超大规模集成电路的诞生，使计算机运算速度从每秒几十万次提高到每秒百亿次以上;航空发动机材料的工作温度每提高100℃，推力可增大24%;隐身材料能吸收电磁波或降低武器装备的红外辐射，使敌方探测系统难以发现等等。</p>
       <p style="text-indent:2em">21世纪科技发展的主要方向之一是新材料的研制和应用。新材料的研究，是人类对物质性质认识和应用向更深层次的进军。</p>
       <p style="text-indent:2em">新材料是指新近发展或正在发展的具有优异性能的结构材料和有特殊性质的功能材料。结构材料主要是利用它们的强度、韧性、硬度、弹性等机械性能。如新型陶瓷材料，非晶态合金 (金属玻璃) 等。功能材料主要是利用其所具有的电、光、声、磁、热等功能和物理效应。近几年，世界上研究、发展的新材料主要有新金属材料，精细陶瓷和光纤等等。</p>
       <p style="text-indent:2em">随着科学技术发展，人们在传统材料的基础上，根据现代科技的研究成果，开发出新材料。新材料按组分为金属材料、无机非金属材料(如陶瓷、砷化镓半导体等)、有机高分子材料、先进复合材料四大类。按材料性能分为结构材料和功能材料。结构材料主要是利用材料的力学和理化性能，以满足高强度、高刚度、高硬度、耐高温、耐磨、耐蚀、抗辐照等性能要求;功能材料主要是利用材料具有的电、磁、声、光热等效应， 以实现某种功能，如半导体材料、磁性材料、光敏材料、热敏材料、隐身材料和制造原子弹、氢弹的核材料等。新材料在国防建设上作用重大。例如，超纯硅、砷化镓研制成功，导致大规模和超大规模集成电路的诞生，使计算机运算速度从每秒几十万次提高到每秒百亿次以上;航空发动机材料的工作温度每提高100℃，推力可增大24%;隐身材料能吸收电磁波或降低武器装备的红外辐射，使敌方探测系统难以发现等等。</p>
       <p style="text-indent:2em">21世纪科技发展的主要方向之一是新材料的研制和应用。新材料的研究，是人类对物质性质认识和应用向更深层次的进军。</p>
    </div>
  </div>
</div>
<div class="clear"></div>
{/block}