{extend name="common/base"/}

{block name="content"}
<div class="aboutbox">
  <div class="xq">
    <div class="tit">联系我们</div>
    <div class="sub"><span class="span1"></span><span class="span2">Contact us</span><span class="span1"></span></div>
    <div class="con">
      <div style="float:left">联系QQ：123456789<br />
        手机号码：0000000000<br />
        联系邮箱：123*****@qq.com<br />
        联系电话：000-000000    000-000000<br />
        联系地址：XXX省XXX市XXX县XXX路XXX号</div>
      <div style="float:right"><img src="images/5.jpg" /></div>
    </div>
  </div>
</div>
<div class="clear"></div>
{/block}