@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul li{ list-style:none}
img{ border:0; max-width:100%}
a{ text-decoration:none; color:#333}
.clear{ clear:both}
body{ font-family:"微软雅黑"; width:100%; min-width:1200px;color: #333;font-size: 14px;}
.ccsl{ display:block;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
p{text-align:justify}

.main{ width:1200px; margin:0 auto;}

.header{ width:1200px; height:80px; margin:0 auto; padding:10px 0}
.header img{ width:1200px; height:80px; overflow:hidden}

.nav{ width:100%; min-width:1200px; overflow:hidden; background:#02b2b5; height:50px; line-height:50px;}
.nav ul{ overflow:hidden; width:1200px; height:50px;}
.nav ul li{ float:left; width:120px; height:50px; line-height:50px; text-align:center}
.nav ul li a{ color:#fff; font-size:16px; display:block}
.nav ul li:hover a{ background:#fff;color:#02b2b5;}

.banner{ width:100%; min-width:1200px; /*height:400px;*/ overflow:hidden; position:relative;font-size:0; margin:0 auto;}
.b-img{ /*height:400px;*/  position:absolute; left:0; top:0;}
.b-img img{ display:block; /*height:400px;*/ float:left;}
.b-list{ height:20px; /*padding-top:380px;*/ margin:0 auto;position:relative;z-index:1;}
.b-list span{ display:block;cursor:pointer; width:10px; height:10px; border-radius:50%; background:#fff; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{ background:#d8241d}

.part1{width:100%; min-width:1200px; overflow:hidden; border-bottom:1px solid #EEEEEE; padding:22px 0}
.part1 p{ background:url(../images/icon.gif) left center no-repeat; padding-left:27px; height:40px; line-height:40px; font-size:14px; color:#666}

.part2{ padding-top:85px; width:1200px; margin:0 auto}
.contitbox{}
.contitbox .line{ width:1200px; height:44px; background:url(../images/line.png) center no-repeat; overflow:hidden}
.contitbox .tit{ width:1000px; margin:0 auto; overflow:hidden; color:#F98E0E;font-size: 28px; font-weight:bold; text-align:center}
.contitbox .tit span{ color:#02B2B5}
.contitbox .sub{ color:#666666; font-size:16px; text-align:center;}
.part2 ul{ padding-top:70px; overflow:hidden}
.part2 ul li{ float:left; width:270px; height:370px; overflow:hidden; margin-right:40px}
.part2 ul li:nth-child(4n){ margin-right:0}
.part2 ul li img{ width:270px; height:290px; overflow:hidden; display:block}
.part2 ul li .item{ width:270px; height:80px; overflow:hidden; background:#02B2B5 url(../images/jt.png) right 25px center no-repeat;}
.part2 ul li .item:hover{ background:#F98E0E url(../images/jt.png) right 25px center no-repeat; }
.part2 ul li .item .tit{color:#fff; font-size:16px; max-width:170px; padding-left:23px; padding-top:17px}
.part2 ul li .item .sub{color:#fff; font-size:12px; max-width:170px; padding-left:23px; padding-top:10px}

.linebox{width:100%; min-width:1200px; overflow:hidden; border-bottom:1px solid #EEEEEE; padding-top:95px; height:2px;}

.part3{padding-top:85px; width:1200px; margin:0 auto}
.part3L{ float:left; width:218px; margin-right:30px; overflow:hidden; border:1px solid #EEEEEE; margin-top:70px}
.part3L .titbox{ width:218px; height:45px; line-height:45px; overflow:hidden; background:#02B2B5}
.part3L .titbox p{ color:#fff;font-size: 16px; padding-left:10px}
.part3L ul{ overflow:hidden; padding:5px}
.part3L ul li{ border-bottom:1px dashed #D9D9D9;padding: 4px 0 3px;}
.part3L ul li:last-child{ border:0}
.part3L ul li a{padding: 10px 4px;color: #222;font-size: 14px;max-width: 194px;}
.part3L ul li a:hover{ color:#02B2B5}
.part3L .lxwm{ width:220px; height:70px; overflow:hidden; background:#02B2B5 url(../images/tel.png) left 15px center no-repeat; color:#fff}
.part3L .lxwm .tel1{font-size: 14px; padding-left:72px; padding-top:15px;}
.part3L .lxwm .tel2{ font-weight:bold; font-size:18px;padding-left:72px; padding-top:3px}

.part3R{ width:940px; float:right; overflow:hidden; margin-top:70px}
#tab { width:940px; height:75px; margin-top: 15px;}
#tab li {float: left; padding: 0 3px;height: 36px; cursor:pointer; padding-bottom:7px;}
#tab li a{display: block;width: 109px;height:20px;line-height:20px;text-align: center;font-size: 16px;color: #666;text-decoration: none; border-right:1px solid #9b9b9b}
#tab li:last-child a{ border:0}
#tab li.current a{ color:#02b2b5;}
#tab li.current{border-bottom:2px solid #02b2b5}
#content ul {display:none;}

#content ul{ width:940px; height:335px; overflow:hidden;}
#content ul li{ float:left; width:282px; overflow:hidden; margin-right:30px}
#content ul li:nth-child(3n){ margin-right:0}
#content ul li img{ width:280px; height:280px; border:1px #eeeeee solid; overflow:hidden}
#content ul li p{ text-align:center; font-size:16px; color:#666; height:24px; line-height:24px; padding-top:10px}

.part4{padding-top:85px; width:1200px; margin:0 auto}
.part4 .titbox{ width:100%; height:48px; line-height:48px; overflow:hidden; margin-bottom:15px}
.part4 .titbox p{ color:#02B2B5; font-size:20px; font-weight:bold}
.part4L{ padding-top:65px; float:left; width:567px; overflow:hidden}
.part4R{ padding-top:65px; float:right; width:570px; overflow:hidden}
.part4 .part4One{ width:567px; height:147px; overflow:hidden}
.part4 .part4One .p4l{ width:240px; height:130px; overflow:hidden; float:left; margin-right:10px;}
.part4 .part4One .p4r{ width:315px; float:right; overflow:hidden}
.part4 .part4One .p4r a{ display:block; float:left; max-width:210px; color:#333; font-size:16px; height:30px; line-height:30px}
.part4 .part4One .p4r a:hover{color:#02B2B5;}
.part4 .part4One .p4r span{ float:right; font-size:14px; color:#666;height:30px; line-height:30px}
.part4 .part4One .p4r .sub{ font-size:12px; color:#999; line-height:18px; height:75px; padding-top:5px}

.part4two{ width:570px; height:147px; overflow:hidden}
.part4 ul{ overflow:hidden; border-top:1px solid #e5e5e5; margin-top:20px; padding-top:10px}
.part4 ul li{ border-bottom:1px dashed #e5e5e5; height:50px; line-height:50px;padding: 3px 5px;}
.part4 ul li a{ float:left; max-width:450px; font-size:14px; color:#666}
.part4 ul li span{ float:right;font-size:14px; color:#666}
.part4 ul li a:hover{color:#02B2B5;}
.part4 ul li:last-child{ border:0}

.friendlink-link {
    margin-top:100px;
}
.friendlink-link .lfriendlink a {
    padding: 0 8px;
    color: #666;
}
.friendlink-link .lfriendlink a:hover {
    color:#02B2B5;
}

.footer{ width:100%; min-width:1200px; margin-top:20px; background:#282828; padding:60px 0 40px 0}
.footL{ float:left; width:470px;height:170px; margin-left:50px; overflow:hidden}
.footR{ float:left; width:450px; height:160px; overflow:hidden; color:#999; font-size:14px; line-height:30px; padding-top:10px}
.footbox{ border-top:1px solid #4A4A4A; padding-top:15px; margin-top:50px;}
.footbox .con{ text-align:center; color:#999999; font-size:14px; line-height:24px}
.footbox .con a { color: #b1aaaa; }

.mainWarp{ padding-top:45px; width:1200px; margin:0 auto}
.mainWarp .mainL{float:left; width:220px; margin-right:50px; overflow:hidden; }
.mainWarp .mainL .titbox{ width:220px; height:45px; line-height:45px; overflow:hidden; background:#02B2B5}
.mainWarp .mainL .titbox p{ color:#fff;font-size: 16px; padding-left:10px}
.mainWarp .mainL ul{ overflow:hidden; padding:5px;border:1px solid #EEEEEE; margin-bottom:10px}
.mainWarp .mainL ul li{ border-bottom:1px dashed #D9D9D9;padding: 4px 0 3px;}
.mainWarp .mainL ul li:last-child{ border:0}
.mainWarp .mainL ul li a{padding: 10px 4px;color: #222;font-size: 14px;max-width: 194px;}
.mainWarp .mainL ul li a:hover{ color:#02B2B5}
.mainWarp .mainL .lxwmcon{width:218x; overflow:hidden;border:1px solid #EEEEEE;}
.mainWarp .mainL .lxwmcon .con{ font-size:14px; color:#666; line-height:30px; padding:10px}
.mainWarp .mainL .lxwm{width:220px; height:70px; overflow:hidden; background:#02B2B5 url(../images/tel.png) left 15px center no-repeat; color:#fff}
.mainWarp .mainL .lxwm .tel1{font-size: 14px; padding-left:72px; padding-top:15px;}
.mainWarp .mainL .lxwm .tel2{ font-weight:bold; font-size:18px;padding-left:72px; padding-top:3px}

.mainWarp .mainR{ width:930px; float:left; overflow:hidden}
ul.piclistul{ overflow:hidden; padding-bottom:40px}
ul.piclistul li{ float:left; width:282px; margin-right:30px}
ul.piclistul li img{ width:280px; height:280px; overflow:hidden; border:1px #eeeeee solid}
ul.piclistul li p{ text-align:center;text-align: center;font-size:14px;color: #666;height: 24px;line-height: 24px;padding:15px;}
ul.piclistul li p:hover{color:#02B2B5}
ul.piclistul li:nth-child(3n){ margin-right:0}


ul.listul{overflow:hidden; padding-bottom:40px}
ul.listul li{min-height: 23px;padding:43px 5px; border-bottom:1px dashed #e5e5e5}
ul.listul li .liL{ width:84px; height:84px; float:left; margin-right:15px; background:#F2F2F2}
ul.listul li .liL .day{ text-align:center;font-size: 25px;line-height: 25px;margin-top: 20px;font-family: arial; color:#666}
ul.listul li .liL .year{ text-align:center;font-family: arial;font-size: 14px;line-height:20px; color:#666}
ul.listul li .liR{ float:left; width:820px; float:left;}
ul.listul li .liR a{ font-size:16px; color:#333; height:24px; line-height:24px;}
ul.listul li .liR .sub{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; font-size:14px; color:#999; padding-top:7px; line-height:22px}
ul.listul li .liR a:hover{color:#02B2B5}

.detailbox{ width:1200px; margin:0 auto; overflow:hidden; padding-top:20px}
.detailbox .xq{ padding:10px}
.detailbox .xq .tit{font-size: 25px; margin:5px 0;color: #333;}
.detailbox .xq .date{margin: 30px 0;font-size: 13px;color: #adadad; border-bottom:1px solid #f0efef; padding-bottom:30px}
.detailbox .xq .prroimg{ display:block; margin:0 auto; max-width:950px; margin-bottom:30px}
.detailbox .xq .con{color: #676767; font-size:14px; line-height:2em}

.aboutbox{ width:1200px; margin:0 auto; padding-top:50px;}
.aboutbox .xq{}
.aboutbox .xq .tit{color: #02b2b5; font-size:28px; font-weight:bold; text-align:center}
.aboutbox .xq .sub{ text-align:center; padding-top:15px}
.aboutbox .xq .sub span.span1{display: inline-block;width: 50px;border-top: 1px solid #808080;vertical-align: 5px;}
.aboutbox .xq .sub span.span2{font-size: 16px; color:#999;padding: 0 15px;line-height: 16px;}
.aboutbox .xq .con{ line-height:30px; font-size:14px; color:#666; padding-top:45px}

.pagebox { text-align:center; padding-top:10px; padding-bottom:50px}
.pagebox ul li { 
    display: inline-block;
}
.pagebox ul li a, .pagebox ul li span { border:1px solid #ccc; padding:5px 10px; display:inline-block; color:#333; margin:3px}
.pagebox ul li a:hover{ border:1px solid #02b2b5; color:#02b2b5}

.con-prev-next {
    margin-top: 30px;
    font-size: 15px;
    color: #585151;
}
.con-prev-next .con-prev {
    margin: 8px 0;
}
.con-prev-next .con-next {
    margin: 8px 0;
}

.lakecms-message-main  {
    margin-top: 35px;
}
.lakecms-message-main .xq .tit {
    color: #02b2b5;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.lakecms-message-main .xq .sub {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

/* 通用 */
.row {
	margin-right: -15px;
	margin-left: -15px
}
.form-group {
    margin-bottom: 20px
}
.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
    border-color: #62a8ea;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98,168,234,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98,168,234,.6)
}
.form-control.focus, .form-control:focus {
    border-color: #62a8ea;
    -webkit-box-shadow: none;
    box-shadow: none
}
.form-control::-moz-placeholder {
color:#a3afb7;
opacity:1
}
.form-control:-ms-input-placeholder {
color:#a3afb7
}
.form-control::-webkit-input-placeholder {
color:#a3afb7
}
.form-control::-ms-expand {
background-color:transparent;
border:0
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f3f7f9;
    opacity: 1
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed
}
textarea.form-control {
    height: auto
}
input[type=search] {
    -webkit-appearance: none
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
    line-height: 36px
}
.btn {
    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57142857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn.focus, .btn:focus, .btn:hover {
    color: #76838f;
    text-decoration: none
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}
a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none
}
.btn-default {
    color: #76838f;
    background-color: #e4eaec;
    border-color: #e4eaec
}
.btn-default.focus, .btn-default:focus {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #99b0b7
}
.btn-default:hover {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #76838f;
    background-color: #b1c2c8;
    border-color: #99b0b7
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none
}
.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #e4eaec;
    border-color: #e4eaec
}
.btn-default .badge {
    color: #e4eaec;
    background-color: #76838f
}
.btn-primary {
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #358fe4;
    border-color: #1869b4
}
.btn-primary:hover {
    color: #fff;
    background-color: #358fe4;
    border-color: #2c8ae3
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #358fe4;
    border-color: #2c8ae3
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #1d7dd8;
    border-color: #1869b4
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #62a8ea;
    border-color: #62a8ea
}
.btn-primary .badge {
    color: #62a8ea;
    background-color: #fff
}
.btn-success {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a
}
.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #369b6f;
    border-color: #226246
}
.btn-success:hover {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #2d805c;
    border-color: #226246
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    background-image: none
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #46be8a;
    border-color: #46be8a
}
.btn-success .badge {
    color: #46be8a;
    background-color: #fff
}
.btn-info {
    color: #fff;
    background-color: #57c7d4;
    border-color: #57c7d4
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #33b6c5;
    border-color: #237e89
}
.btn-info:hover {
    color: #fff;
    background-color: #33b6c5;
    border-color: #30afbd
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #33b6c5;
    border-color: #30afbd
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #2b9ca9;
    border-color: #237e89
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    background-image: none
}
.btn-info.disabled.focus, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled].focus, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #57c7d4;
    border-color: #57c7d4
}
.btn-info .badge {
    color: #57c7d4;
    background-color: #fff
}
.btn-warning {
    color: #fff;
    background-color: #f2a654;
    border-color: #f2a654
}
.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #ee8d25;
    border-color: #b8660e
}
.btn-warning:hover {
    color: #fff;
    background-color: #ee8d25;
    border-color: #ee881b
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ee8d25;
    border-color: #ee881b
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #de7c11;
    border-color: #b8660e
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    background-image: none
}
.btn-warning.disabled.focus, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled].focus, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f2a654;
    border-color: #f2a654
}
.btn-warning .badge {
    color: #f2a654;
    background-color: #fff
}
.btn-danger {
    color: #fff;
    background-color: #f96868;
    border-color: #f96868
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #f73737;
    border-color: #d90909
}
.btn-danger:hover {
    color: #fff;
    background-color: #f73737;
    border-color: #f72d2d
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #f73737;
    border-color: #f72d2d
}
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #f61515;
    border-color: #d90909
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    background-image: none
}
.btn-danger.disabled.focus, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled].focus, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #f96868;
    border-color: #f96868
}
.btn-danger .badge {
    color: #f96868;
    background-color: #fff
}
.btn-link {
    font-weight: 400;
    color: #62a8ea;
    border-radius: 0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent
}
.btn-link:focus, .btn-link:hover {
    color: #89bceb;
    text-decoration: underline;
    background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
    color: #a3afb7;
    text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px
}
.btn-group-sm>.btn, .btn-sm {
    padding: 6px 13px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}
.btn-block {
    display: block;
    width: 100%
}
.btn-block+.btn-block {
    margin-top: 5px
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%
}









